<!DOCTYPE html>
<html lang="pt-br">
   <head>
       <meta charset="utf-8"/>
       <title><%= title %></title>
       <%- include('imports'); -%>
    <div class="navbar.mix">
            <%- include('navbar'); -%>
    </div>

   </head>
   <body class="mixmastertema">
       
   </body>
</html>