<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="http://localhost:3000/">Home</a>
    <a class="navbar-brand" href="http://localhost:3000/posts">Posts</a>
</nav>