<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Menu</a>
    <a class="navbar-brand" href="#">Jogos</a>
    <a class="navbar-brand" href="#">Informativos</a>
    <a class="navbar-brand" href="#">Mix formulas</a>
</nav>