<!DOCTYPE html>
<html >
  <head>
    <title><%= title %></title>
    
    <%- include('imports'); -%>

  </head>
  <body class="index-pag">
    <%- include('navbar'); -%>

<div class="container">
<div class="row">
    <% projects.forEach((projects) =>{ %>
        <%- include('project_card', {projects: projects}); -%>
        <% }); %>

</div>
</div>

  </body>
</html>
