<!DOCTYPE html>
<html >
  <head>
    <title><%= title %></title>
    
    <%- include('imports'); -%>

  </head>
  <body class="index-pag">
    <%- include('navbar'); -%>

<div class="container">
<div class="row">
    <% projects.forEach((post) =>{ %>
        <%- include('post_cardd', {post: post}); -%>
        <% }); %>

</div>
</div>

  </body>
</html>
