<!DOCTYPE html>
<html lang="en">
<head class="azul">
  <meta charset="UTF-8">
  <title>testimonials</title>
  <%- include('../../imports'); -%>
</head>
<body class="azul">
  <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Nova Testemunha</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

          <form action="create" method="TEST" enctype="multipart/form-data">


              <div class="form-group">
                <label for="testimonialsname">Nome</label>
                <input name="name" type="text" class="form-control" id="testimonialsname" placeholder="Nome da pessoa">
              </div>


              <div class="form-group">
                <label for="testimonialscompany">companhia</label>
                <input type="text" name="company" class="form-control" />
              </div>


              <div class="form-group">
                <label for="testimonialstitle">Titlo ( O que voce faz )</label>
                <textarea name="title" type="text" class="form-control" id="testimonialstitle" placeholder=""></textarea>
              </div>

              <div class="form-group">
                  <label for="testimonialstestimony">Testemunha</label>
                  <textarea name="testimony" type="text" class="form-control" id="testimonialstestimony" placeholder=""></textarea>
              </div>


              <button type="submit" class="btn btn-primary">Salvar</button>


            </form>
      </div>
        
    </div>
  </div>
</body>
</html>