<!DOCTYPE html>
<html lang="en">
<head class="azul">
  <meta charset="UTF-8">
  <title>Adm.Noticias</title>
  <%- include('../../imports'); -%>
</head>
<body class="azul">
  <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Nova Noticia</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <form action="create" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="postTitle">Título</label>
                <input name="title" type="text" class="form-control" id="postTitle" placeholder="Título do post">
              </div>
              <div class="form-group">
                <label for="postImage">Imagem</label>
                <input type="file" name="image" class="form-control" />
              </div>
              <div class="form-group">
                <label for="postDescription">Descrição</label>
                <textarea name="description" type="text" class="form-control" id="postDescription" placeholder="Descrição da Noticia"></textarea>
              </div>

              <div class="form-group">
                <label for="link">Link</label>
                <textarea name="link" type="text" class="form-control" id="link" placeholder="Link da Noticia"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
      </div>
        
    </div>
  </div>
</body>
</html>